.main_btn_box{
    display: flex;
    justify-content: right;
    flex-direction: row;  
    margin-top: 50px;
    margin-right: 50px;
}
.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#detail_img {
    border-radius: 15%;
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

.card{
    width : 300px;
    height: 200px;

}

.btns {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;   
}

.btns > button {
margin: 0px 5px;
}
#comment {
  width: 700px;
  margin: 20px auto;
}

#comment_box > button {
  margin: 15px 0px;
  float: right;
}

#comment_list > input {
  margin-top: 10px;
}

#like_btn{
  background-color : transparent;
  border : 0;
}