navbar-brand{
  margin: 0px 20px;
}

li {
  float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.left_box {
  margin-top : 20px;
  margin-bottom: 20px;
}

.left_box>button{
    margin-top: 20px;
}

#title{
    width: 300px;
}

#content{
    height: 200px;
}